//<ОСНОВНОЙ БЛОК>====================================================================================================
@import "vars";
.flex-cnt{
  display: flex;
  justify-content: space-between;

  @media (max-width: $md2+px) {

  }
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #FFFfff;
  transition: all 280ms ease-in-out;

  &:hover{
    border: 10px double #BFE2FF
  }
}
.title-text-button{
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media (min-width: $md3+px) {
    max-width: 700px;
  }
  .button{
    align-self: start;
    @media (max-width: $md2+px) {
      align-self: center;
    }

  }

}
.pretitle{
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  color: $blue;
}
.title {
  font-size: 80px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: -2.01026px;
  @media (max-width: $md4+px) {
    font-size: 60px;
  }
}

.subtitle {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: (58 / 48) * 100%;
  color: #FFFfff;
  margin-bottom: 15px;
  @media (max-width: $md2+px) {
    font-size: 30px;
    text-align: center;
  }

  @media (max-width: $md4+px) {
    font-size: 26px;
  }
}
.subtitle-sm{  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.025em;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  color: #FFFFFF;
}

.title-post {
  display: block;
  color: $title__color;
  font-size: 26px;
  font-weight: 700;
  line-height: (38 /26);
  @media (max-width: $md3+px) {
    font-size: 22px;
  }
}
.title-logo{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.006em;
  text-transform: uppercase;
  white-space: nowrap;


}
.title-sm{
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  color: #FFFFFF;
}
.title-sm2{
  font-size: 24px;
  font-weight: 700;
}
.text-description{
  font-size: 13px;
  font-weight: 400;
  line-height: 19/13*100%;
  letter-spacing: 0.008em;
  text-align: center;
  color: #3F464E;

}

.text-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.502564px;

}
.text-sm{
  font-size: 16px;
  line-height: 22 / 16 *100%;


}
.flex__block{
  display: flex;
  align-items: center;
  height: 100%;
}
.button {

  padding: 14px 28px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 18px 0px 0px;
  background: #FFFfff;
  transition: $transitionT linear;

  i{
    padding-left: 10px;
    color: #FFFfff;
    transition: $transitionT linear;

  }

    &:active,&:hover{
      i{
        color: #FFAC12;
      }

    }
  
}


.button-light {
  background: #ffffff;
}

.menu__link {
  font-size: 13px ;
  font-weight: 600 ;
  white-space: nowrap;
  transition: all $transitionT ease-out;





  @media (max-width: $md3+px) {
    font-size: 30px;
  }


}
.link{
  color: #000;
}
.button-link {
  font-size: 14px;
  font-weight: 500;
  color: #212529;
  white-space: nowrap;
  transition: $transitionT;
}
.mail-link{
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
}

.link-blue {
  color: $button__bg;
}

.bg-zero {
  background-color: #ffffff !important;

  :focus {
    box-shadow: none !important;
  }
}

._focus {
  background: #ffffff;
}

._hidden {
  display: none;
  opacity: 0;
}

._animation-item {
  opacity: 0;
  transition: all 0.8s ease;

  @media (min-width: $md3+px) {
    transform: translate(0, 120%);
  }

}

._animation-active {
  opacity: 1 !important;
  @media (min-width: $md3+px) {
    transform: translate(0, 0);
  }
}

._dismissable{

  }
._dismissable-hidden{
  visibility: hidden;
  @media (max-width: $md0+px) {
    display: none !important;
  }}
.button-dismiss{
  background: transparent;
  font-size: 20px;
  color: #FF6464;
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

//====================================================================================================
%noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//====================================================================================================
ol.counter {
  list-style-type: none;
  counter-reset: item;

  li {
    position: relative;
    padding: 0px 0px 0px 45px;

    &:before {
      counter-increment: item;
      content: counter(item);
      position: absolute;
      left: 0;
      top: 0;
      color: #818181;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      line-height: 26px;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      border: 1px solid #4274bb;
    }
  }
}

//====================================================================================================
.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

//====================================================================================================
.table {
  display: table;
  font-size: 0;
  width: 100%;
  //table-layout: fixed;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;

  &.full {
    width: 100%;
  }
}

//====================================================================================================
._ibg {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

body.ie {
  ._ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  ._ibg img {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}

//====================================================================================================
._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;

  video,
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.videobg {
  video,
  iframe,
  object,
  embed {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }
}

//====================================================================================================
// ._more-block
._more-block {
}

// ._more-content
._more-content {
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

// ._more-item
._more-item {
}

// ._more-link
._more-link {
  cursor: pointer;

  span {
    font-style: normal;

    &:first-child {
      display: block;
    }

    &:last-child {
      display: none;
    }
  }

  &._active {
    span {
      font-style: normal;

      &:first-child {
        display: none;
      }

      &:last-child {
        display: block;
      }
    }
  }
}

//====================================================================================================
%graystyle {
  transition: all 0.3s ease 0s;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}

%graystyleoff {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
}

//====================================================================================================
#map {
  //background: url("../img/icons/loading.gif") center / 50px no-repeat;
}

//====================================================================================================
._swiper {
  overflow: hidden;
  //.swiper-wrapper
  .swiper-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    display: flex;
    position: relative;
  }

  &.swiper-container-vertical {
    .swiper-wrapper {
      flex-direction: column;
    }
  }

  &.swiper-container-autoheight {
    .swiper-wrapper {
      align-items: flex-start;
    }
  }
}

.swiper-container-initialized {
  .swiper-slide {
    flex-shrink: 0;
    // transition-property: transform;
  }
}

.swiper-container-android {
  .swiper-slide,
  .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
  }
}

.swiper-button-lock {
  display: none !important;
}

//====================================================================================================
._tabs {
}

._tabs-item {
}

._tabs-block {
  display: none;

  &._active {
    display: block;
  }
}

//=====================================================================================================================
.mirror {
  transform: scale(-1, 1);
}

//=====================================================================================================================
.nicescroll-rails {
  z-index: 1000 !important;
}

//========================================================================================================================================================

//========================================================================================================================================================
._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
  //background-color: rgba(0, 0, 0, 0.1);
  &__line {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px 0 0 3px;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
  }
}


//</ГОТОВЫЕ КЛАССЫ>====================================================================================================
