$menu__color: #212529;
$transitionT: .4s;
$title__color: #212529;
$button__bg: #BB8E34;
$text__color: #798797;

$blue: #006FF9;
$blue__hover: lighten($blue, 10%);

$gray: #6F7074;
$gray__hover: darken($gray, 10%)